%div.product
  %p=link_to @product.model, product_path(@product)
  %p image:
  %img{:src => @product.image_url}
  %p model:   #{@product.model}
  %p description:    #{@product.description}
  %p price:       #{@product.price}
  %p shop:       #{@shop.name}
  %p category:    #{@product.category}
  %p brand:       #{@brand.name}
  %p in_stock:       #{@product.in_stock}
  %p sku:       #{@product.sku}
  %p warranty:       #{@product.warranty}