%div.product
  %p=link_to @product.model, product_path(@product)
  %img{:src => @product.image_url}
  %p model:   #{@product.model}
  %p description:    #{@product.description}
  %p price:       #{@product.price}
  %p=link_to "find shops selling this product", product_shops_path(@product)
  -if @product.category
    %p category:    #{link_to @product.category.name, product_category_path(@product)}
  -if @product.brand
    %p brand:    #{link_to @product.brand.name, product_brand_path(@product)}
  %p in_stock:       #{@product.in_stock}
  %p sku:       #{@product.sku}
  %p warranty:       #{@product.warranty}