!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'Lankan Hardware Watch'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  %body
    #container
      #header
        %h1 Lankan Hardware Watch
        %h2 Automated upto date price list generation for your latest wears and much more!
      #content
        -if flash.count > 0
          #flash
            - flash.each do |name, msg|
              -#%div[name, :flash_]
              %div{:id=> "flash_#{name}"}
                %p=msg
        #other
          = yield
      #sidebar
        -if user_or_admin_logged_in?
          %list
            %li Logged in as #{current_user_or_admin.email}
        %list#navigation
          %li=link_to 'Home', root_path
          - unless user_or_admin_logged_in?
            %li=link_to 'Admin', new_admin_session_path
            %li=link_to 'Log in', new_user_session_path
            %li=link_to 'Sign up', new_user_path
          - if admin_signed_in?
            #admin_login_box
              %li=link_to('Admin section', admins_path)
          - if user_signed_in?
            #user_login_box
              %li=link_to('My info', edit_user_path)
          - if user_or_admin_logged_in?
            #main_main
              %li=link_to_unless_current "Shops", { :controller => 'shops'}
              %li=link_to_unless_current "Products", { :controller => 'products'}
              %li=link_to_unless_current "Brands", { :controller => 'brands'}
              %li=link_to_unless_current "Categories", { :controller => 'categories'}
              %li=link_to('Sign out', current_user_session_destroy_path)
      #footer
        %hr
        %p Lankan Hardware Watch @2010
